.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#F5F3FF,#EEF2FF,#FAF5FF);

}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 15px 40px rgba(124,58,237,.15);

}

.login-card h1{

    color:#7C3AED;

    text-align:center;

    margin-bottom:10px;

}

.login-card h2{

    text-align:center;

    color:#312E81;

    margin-bottom:10px;

}

.login-card p{

    text-align:center;

    color:#6B7280;

    margin-bottom:25px;

}

.input-group{

    margin-bottom:20px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

}

.input-group input{

    width:100%;

    padding:14px;

    border:1px solid #D1D5DB;

    border-radius:10px;

    font-size:16px;

    transition:.3s;

}

.input-group input:focus{

    border-color:#7C3AED;

    outline:none;

    box-shadow:0 0 0 3px rgba(124,58,237,.15);

}

/* LOGIN PAGE BUTTON */

.login-submit{

    width:100%;

    padding:15px;

    background:#7C3AED;

    color:white;

    border:none;

    border-radius:10px;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    margin-top:10px;

    transition:.3s;

}

.login-submit:hover{

    background:#6D28D9;

}

.bottom-text{

    margin-top:20px;

}

.bottom-text a{

    color:#7C3AED;

    font-weight:600;

    text-decoration:none;

}

.bottom-text a:hover{

    text-decoration:underline;

}